.search-container {
    padding: 10px 10px;

    .search-top {
        display: flex;
        align-items: center;
        padding: 2px 4px;
        background-color: #eaedf0;
        border-radius: 10px;
    }

    .search-bottom {
        margin-top: 10px;
        justify-content: space-around;
        align-items: center;

        .tabs-parent {
            display: flex;
            justify-content: center;
            align-items: center;

            .tab-child {
                min-width: 50px;
                min-height: 40px;
                text-transform: none;
            }
        }

        .tab-panel {
            height: 100%;
        }
    }
}